<footer>
    <p>
      {% if site.facebook_username %}
      <a itemprop="facebook" href="https://www.facebook.com/{{ site.facebook_username }}" title="Facebook">
        <svg><use xlink:href="#icon-facebook"></use></svg>
      </a>
      {% endif %}
      </a>
      {% if site.instagram_username %}
      <a itemprop="instagram" href="https://www.youtube.com/{{ site.instagram_username }}" title="youtube">
        <svg><use xlink:href="#icon-instagram"></use></svg>
      </a>
      {% endif %}
    </p>
    <ul>
        {% for link in site.links %}
          <li><a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
        <li style="color: #808080; float:right;">주소 | 서울특별시 구로구 연동로 320(항동) 성공회대학교 정보과학관 6104호</li>
        <li style="color: #808080; float:right;">전화 | 02-123-4567</li>
    </ul>
    <p><span>2018 &copy;MediaCenter</span> was made with <svg class="love"><use xlink:href="#icon-heart"></use></svg> by WebMedia Stations</p>
</footer>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include stats.html %}
