<header class="bar-header">
    <a id="menu">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <a id="search" class="dosearch">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    <center>
        <h1 class="logo">
            <a href="{{ site.baseurl }}/">
                <!--{{ site.username }}-->
                <img src="assets/img/head_Logo.png" width="100px" height="100px"></img>
            </a>
        </h1>
    </center>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
