<header class="bar-header">
    <a id="menu">
        <svg id="open" class="icon-menu"><use xlink:href="#icon-menu"></use></svg>
    </a>
    <a id="search" class="dosearch">
        <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
    </a>
    <center>
        <p style="color: #ffffff; font-size: 6px;">성공회대학교 공식 언론기관</p>
        <h1 class="logo">
            <a href="{{ site.baseurl }}/">
                {{ site.username }}
            </a>
        </h1>
    </center>
</header>

<div id="mask" class="overlay"></div>

{% include menu.html %}
{% include search.html %}
