<nav class="skip-links">
  <h2 class="screen-reader-text">{{ site.data.theme.t.skip_links | default: 'Skip links' }}</h2>
  <ul>
    <li><a href="#primary-nav" class="screen-reader-shortcut">{{ site.data.theme.t.skip_primary_nav | default: '요약으로 넘어가기' }}</a></li>
    <li><a href="#main" class="screen-reader-shortcut">{{ site.data.theme.t.skip_content | default: '내용으로 넘어가기' }}</a></li>
    <li><a href="#footer" class="screen-reader-shortcut">{{ site.data.theme.t.skip_footer | default: '하단으로 내려가기' }}</a></li>
  </ul>
</nav>
