---
layout: compress
---
<!DOCTYPE html>
<html lang="KR" itemscope itemtype="http://schema.org/WebPage">
    {% include head.html %}
    <body class="main-page has-push-menu">
        {% include svg-icons.html %}
        {% include header.html %}
            <section class="content">
                    <script language="javascript" type="text/javascript">
                        <!-- Begin
                        var imagepath = "/img/slide"
                        NewImg = new Array (
                            "1.jpeg",
                            "2.jpeg",
                            "3.jpeg",
                            "4.jpeg",
                                );
                            var ImgNum = 0;
                            var ImgLength = NewImg.length - 1;
                            var delay = 2000; //자동전환시 시간설정(1000=1초)
                            var lock = false;
                            var run;
                            function chgImg(direction) {
                                if (document.images) {
                                    ImgNum = ImgNum + direction;
                                if (ImgNum > ImgLength) {
                                    ImgNum = 0;
                                }
                                if (ImgNum < 0) {
                                    ImgNum = ImgLength;
                                }
                                document.slideshow.src = imagepath+NewImg[ImgNum];
                                   }
                                }
                                function auto() {
                                    if (lock == true) {
                                        lock = false;
                                        window.clearInterval(run);
                                    }
                                    else if (lock == false) {
                                        lock = true;
                                        run = setInterval("chgImg(1)", delay);
                                   }
                                }
                                //  End -->
                                </script>
                                </head>
                                <body onLoad=auto();> <!--자동으로 슬라이드 -->
                                <center>
                                <B>
                                <a href="javascript:chgImg(-1)">Previous</a>
                                | <a href="javascript:auto()">Auto/Stop</a>
                                | <a href="javascript:chgImg(1)">Next</a>
                                </B><p>
                                <img src="image/Photo01.jpg" name="slideshow">
                                </center>
                {{ content }}
            </section>
        {% include footer.html %}
    </body>
</html>
